*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 65px;
    width: 100vw;
    background-color: black;
    margin: -8px;
    padding: 8px;
    display: flex;
    align-items: center;
}
.logo{
    filter: invert(1);
    height: 32px;
    width: 32px;
    padding: 12px;
}
.homeIcon button{
    border: none;
    filter: invert(1);
    height: 24px;
    width: 24px;
}
.homeIcon{
    border-radius: 50px;
    background-color: #1f1f1f;
    height: 24px;
    width: 24px;
    margin: 0px 0px 0px 8px;
    padding: 12px;
    align-items: center;
}

.searchBar{
    height: 24px;
    width: 445px;
    padding: 12px;
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 50px;
    justify-content: space-between;
    margin-left: 8px;
}
.searchIcon button{
    height: 24px;
    width: 24px;
    border: none;
    filter: invert(1);
    border-radius: 50px;
}
.searchIcon{
    background-color: #1f1f1f;
    border: none;
    justify-content: flex-start;
    border-radius: 50px;
}
.searchArea{
    color: #b3b3b3;
    height: 24px;
    width: 375px;
    background-color: #1f1f1f;
    border: none;
    font-size: 16px;
}
.browseIcon{
    height: 24px;
    width: 24px;
    filter: invert(1);
}
.browseIcon button{
    width: 24px;
    border: none;
}

.psd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 300px;
    height: 48px;
}
.psd1{
    color: #b3b3b3;
    font: 16px;
    font-weight: 700;
    height: 48px;
    width: 48px;
    margin-left: 15px;
    padding: 8px 0px;
    border: none;
    background-color: black;
}